#############
#CONFIGURATION
#############

export MOUNTPOINT="/p/ldne"
export ROOTDIR="${MOUNTPOINT}/faaland1/zfsstress"
export LOGDIR="${MOUNTPOINT}/faaland1/zfsstress-logs"

# how long to sleep between cycles of a given test
export DEFAULT_MAX_SLEEP=10

# max length of filename (actual length chosen randomly)
export MAX_FILENAME_LEN=40

# time to run test in seconds
TEST_ZFSSTRESS_RUNTIME=600

# currently unused - options to runstress.sh
TEST_ZFSSTRESS_OPTIONS=""

# create striped directories if posssible
setup_dir=custom_mkdir
function custom_mkdir() {
	dirpath=$1

	# lfs might fail if we are not testing on lustre, or if
	# users cannot create striped directories; so failure is OK
	lfs=$(which lfs) && ${lfs} mkdir --count=-1 ${dirpath}
	retval=$?

	# Try lfs, striped wide, first; if this fails it is not an error
	if [[ "${retval}" -ne 0 ]]; then
		mkdir ${dirpath}
		retval=$?
	fi

	if [[ "$retval" -ne 0 ]]; then
		echo "ERROR: mkdir ${LOGDIR} (LOGDIR) failed: $retval"
		exit 3
	fi
}

