#############
#CONFIGURATION
#############

export LOGDIR="/p/ldne/faaland1/zfsstress-logs"
export MOUNTPOINT="/p/ldne"
export ROOTDIR="${MOUNTPOINT}/faaland1/zfsstress"
export DEFAULT_MAX_SLEEP=10
export MAX_FILENAME_LEN=20
TEST_ZFSSTRESS_RUNTIME=30
TEST_ZFSSTRESS_OPTIONS=""
setup_dir=custom_mkdir

function custom_mkdir() {
	dirpath=$1

	# lfs might fail if we are not testing on lustre, or if
	# users cannot create striped directories; so failure is OK
	lfs=$(which lfs) && ${lfs} mkdir --count=-1 ${dirpath}
	retval=$?

	# Try lfs, striped wide, first; if this fails it is not an error
	if [[ "${retval}" -ne 0 ]]; then
		mkdir ${dirpath}
		retval=$?
	fi

	if [[ "$retval" -ne 0 ]]; then
		echo "ERROR: mkdir ${LOGDIR} (LOGDIR) failed: $retval"
		exit 3
	fi
}

